/* Footer Developer  */
.footerDeveloper {
  border-top: gray 1px solid;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightsFooter {
  margin: 0.5rem 0 0 0;
}

.developerLink {
  text-decoration: none;
  color: gray;
}

.developerLink:hover {
  transform: scale(1.02);
  transition: all 200ms linear;
  color: #3e3f3a;
}

.logoDev {
  width: 40px;
}
