/* Footer Developer  */
.footerDeveloper {
  border-top: gray 1px solid;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerDeveloper p {
  margin: 1rem 0;
}

.developerLink {
  text-decoration: none;
  display: flex;
}

.logoDev {
  transition: all 200ms ease;
  margin-left: .5rem;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.logoDev:hover {
  transform: scale(1.05) rotate(7deg);
}